body {
	margin: 0;
	background-color: rgb(239, 226, 182);
}
.pages {
	background-image: url(https://image.freepik.com/free-photo/old-book-open-on-dark-wood-background_1373-581.jpg);
	background-size: 100%;
	width: 1000px;
	height: 650px;
	background-repeat: no-repeat;
	border: 1px solid black;
	margin: auto;
}
.title{
	width: 45%;
	float: left;
	padding: 130px 20px 150px 100px;
}
#author {
	font-size: 15px;
	padding-top:  250px;
	text-align: center;
}
.chapter {
	text-align: center;
	padding: 80px 200px;
}
#heading{
	font-size: 15px;
}
.paragraph{
	padding: 0px;
	margin: auto;
	text-align: left;
}
h1, h4, h3{
	font-family: 'IM Fell English SC', serif;
}
h1 {
	font-size: 23px;
	text-align: center;
}
a{
	text-decoration: none;
	color: black;
}
a:hover{
	color: rgb(86, 188, 156);
}




