body {
    background-color: rgb(177, 237, 163);
    margin: 0;
}

.header {
    text-align: left;
    border: 2px solid rgb(29,135,45);
    background-color: rgb(29,135,45);
    background-repeat: no-repeat;
    background-size: cover;
    position: sticky;
    top: 0px;
    margin: auto;
    z-index: 100000;
    width: 100%;
    opacity: 2;
}

h3 {
    margin: 5px;
    padding-top: 5px;
    font-size: 25px;
    color: black;
     text-decoration: none;
    font-family: Cambria;

}

.navigacija {
    margin-top: 10px;
    text-align: right;
    font-size: 22px;
    font-family: Cambria;
}

a {
    color: black;
    text-decoration: none;
    margin-right: 60px;
    font-size: 20px;
}

a:hover {
    color: rgb(74, 211, 90);
}

.active {
    color: rgb(74, 211, 90);
}


#copyright {
    font-size: 13px;
    color: rgb(29,135,45);
    text-align: center;
}

p {
    color: darkslategrey;
    font-size: 17px;
    font-family: Times New Roman;
    margin: 30px;
}
.slika {
    margin-left: 400px;

}


.footer {
    border-top: 1px solid rgb(29,135,45);
    margin-top: 180px;
}

#crown {
    padding: 30px 30px 30px 150px;

}

#gale {
    padding: 30px 30px 30px 50px;

}
#myschool {
    padding: 30px 30px 30px 150px;
}
#life {
    padding: 30px 30px 30px 50px;
}
#exit {
    padding: 30px 30px 30px 150px;
}
#lexis {
    padding: 30px 30px 30px 50px;
}
#facebook {
    padding: 5px;
}
#contact{
    color: rgb(29,135,45);
    margin: 10px;

}
h4{
    color: rgb(29,135,45);
    margin: 10px;
}